In [1]:
import pandas as pd

In [2]:
covid =  pd.read_csv('COVID19_data.csv')

In [3]:
covid

,Date,Confirmed,Recovered,Deceased,Other,Tested,First Dose Administered,Second Dose Administered,Total Doses Administered
0,2020-03-09,1,0,0,0,0,0,0,0
1,2020-03-10,4,0,0,0,0,0,0,0
2,2020-03-11,4,0,0,0,0,0,0,0
3,2020-03-12,5,0,0,0,0,0,0,0
4,2020-03-13,6,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...
555,2021-09-15,2964083,2910626,37537,28,45689893,35624096,12780026,48404122
556,2021-09-16,2965191,2911434,37555,28,45855899,35655006,12832683,48487689
557,2021-09-17,2966194,2912633,37573,28,46004395,37244338,14331994,51576332
558,2021-09-18,2967083,2913713,37587,28,46143315,37378105,14534679,51912784
559,2021-09-19,2967866,2914852,37603,28,46273189,37414550,14588418,52002968